*{
  box-sizing: border-box;
}

.container{
  display: flex;

}

.game-section{
  background-color: greenyellow;
  border: 1px dashed red;
  display: flex;
  justify-content: space-between;
  width: 100vh;
}

#game-title-input{
  background-color: silver;
  width: 200%;
}